{# app/Resources/views/preguntes/consumirPreguntaForm.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	Consumir pregunta
{% endblock %}

{% block body %}

	<h3> Question </h3>
	<button id="toggleViewSolution">Hide/Show Solution</button>
	
	Resposta correcta: 
	<span id="spanRespostaCorrecta" class="hidden" value="{{respostaCorrecta}}">{{respostaCorrecta}}</span>
	
	<form id="preguntaAction" name="preguntaAction" action="preguntaAction" method="POST">
		<input id="question" name="question" type="text" value="{{question}}" required="required" readonly="true">
		<label for="question"> → Question </label> <br><br>
		
		<input id="correct1" name="correct" type="radio" value="1" checked="checked">
		<input id="answer1" name="answer1" value="{{answer1}}" type="text" required="required" readonly="true">
			<label for="answer1"> → First answer option </label> <br>
		
		<input id="correct2" name="correct" type="radio" value="2">
		<input id="answer2" name="answer2" value="{{answer2}}" type="text" required="required" readonly="true">
			<label for="answer2"> → Second answer option </label> <br>
		
		<input id="correct3" name="correct" type="radio" value="3">
		<input id="answer3" name="answer3" value="{{answer3}}" type="text" required="required" readonly="true">
			<label for="answer3"> → Third answer option </label> <br>
			
		<input id="correct4" name="correct" type="radio" value="4">
		<input id="answer4" name="answer4" value="{{answer4}}" type="text" required="required" readonly="true">
			<label for="answer4"> → Fourth answer option </label> <br>
	</form>
	
	<button id="comprovaResposta">Comprova resposta</button>
	
{% endblock %}