{# app/Resources/views/preguntes/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	Insert List
{% endblock %}

{% block body %}
	<h3> Question Form </h3>
	
	<form id="question_form" name="question_form" method="POST" action="inserirNovaPregunta">
	
		<input id="question" name="question" type="text" placeholder="Question..." required="required">
		<label for="question"> → Question </label> <br><br>
		
		<input id="correct1" name="correct" type="radio" checked="checked" value="1">
		<input id="answer1" name="answer1" type="text" placeholder="First answer..." required="required">
			<label for="answer1"> → First answer </label> <br>
		
		<input id="correct2" name="correct" type="radio" value="2">
		<input id="answer2" name="answer2" type="text" placeholder="Second answer..." required="required">
			<label for="answer2"> → Second answer </label> <br>
		
		<input id="correct3" name="correct" type="radio" value="3">
		<input id="answer3" name="answer3" type="text" placeholder="Third answer..." required="required">
			<label for="answer3"> → Third answer </label> <br>
			
		<input id="correct4" name="correct" type="radio" value="4">
		<input id="answer4" name="answer4" type="text" placeholder="Fourth answer..." required="required">
			<label for="answer4"> → Fourth answer </label> <br>
			
		<input id="submit" type="submit" value="Submit">
		
	</form>		
	
{% endblock %}
